<h1 class="text-center p-4"><strong>Welcome To Crime Time!</strong></h1>
<section class="text-center">
  <%= link_to "Login with Google", google_login_path, class: "btn btn-lg btn-outline-success" %>
</section></br>

<table class="table table-striped table-dark national-stats">
<h2 class="text-center p-2"><strong>National Stats</strong></h2>
<thead>
  <tr>
    <th scope="col-4">Crime</th>
    <th scope="col-4">Total Occurrence</th>
    <th scope="col-4">Percentage of Total Crimes</th>
  </tr>
</thead>

<tbody>
  <tr class="aggravated-assault">
    <th scope="row">Aggravated Assault</th>
  </tr>
  <tr class="homicide">
    <th scope="row">Homicide</th>
  </tr>
  <tr class="rape">
    <th scope="row">Rape</th>
  </tr>
  <tr class="property-crime">
    <th scope="row">Property Crime</th>
  </tr>
  <tr class="arson">
    <th scope="row">Arson</th>
  </tr>
</table>
</tbody>

<table class="table table-striped table-dark top-ten">
<h2 class="text-center p-2"><strong>Top Ten Most Wanted</strong></h2>
  <thead>
    <tr>
      <th scope="col-6">Fugitive</th>
      <th scope="col-6">Last Known Location</th>
    </tr>
  </thead>

  <tbody>
    <tr class='fugitive-one'>
      <th scope="row">Eugene Palmer</th>
      <td>Unknown</td>
    </tr>
    <tr class='fugitive-two'>
      <th scope="row">Santiago Villalba Mederos</th>
      <td>Unknown</td>
    </tr>
    <tr class='fugitive-three'>
      <th scope="row">Rafael Caro-Quintero</th>
      <td>Unknown</td>
    </tr>
    <tr class='fugitive-four'>
      <th scope="row">Robert William Fisher</th>
      <td>Unknown</td>
    </tr>
    <tr class='fugitive-five'>
      <th scope="row">Bhadreshkumar Chetanbhai Patel</th>
      <td>Unknown</td>
    </tr>
    <tr class='fugitive-six'>
      <th scope="row">Alejandro Rosales Castillo</th>
      <td>Unknown</td>
    </tr>
    <tr class='fugitive-seven'>
      <th scope="row">Arnoldo Jimenez</th>
      <td>Unknown</td>
    </tr>
    <tr class='fugitive-eight'>
      <th scope="row">Jason Derek Brown</th>
      <td>Unknown</td>
    </tr>
    <tr class='fugitive-nine'>
      <th scope="row">Yaser Abdel Said</th>
      <td>Unknown</td>
    </tr>
    <tr class='fugitive-ten'>
      <th scope="row">Alexis Flores</th>
      <td>Unknown</td>
    </tr>
  </tbody>
</table></br>
