<h1> Welcome To Crime Time! </h1>
<section>
  <%= link_to "Login with Google", google_login_path  %>
</section></br>

<table class='national-stats'>
<h2><strong>National Stats:</strong></h2>
  <tr>
    <th>Crime:</th>
    <th>Total Occurrence</th>
    <th>Percentage of Total Crimes</th>
  </tr>
  <tr class="aggravated-assault">
    <td>Aggravated Assault</td>
    <td>500</td>
    <td>10%</td>
  </tr>
  <tr class="homicide">
    <td>Homicide</td>
    <td>5000</td>
    <td>50%</td>
  </tr>
  <tr class="rape">
    <td>Rape</td>
    <td>85</td>
    <td>1%</td>
  </tr>
  <tr class="property-crime">
    <td>Property Crime</td>
    <td>450</td>
    <td>5%</td>
  </tr>
  <tr class="arson">
    <td>Arson</td>
    <td>330</td>
    <td>4%</td>
  </tr>
</table>

<table class="ten-most-wanted">
<h2><strong>Top Ten Most Wanted:</strong></h2>
  <tr>
    <th>Fugitive:</th>
    <th>Last Known Location</th>
  </tr>
  <tr class='fugitive-one'>
    <td>Travis 1</td>
    <td>Your Mom's House</td>
  </tr>
  <tr class='fugitive-two'>
    <td>Jerk 2</td>
    <td>Over Yonder</td>
  </tr>
  <tr class='fugitive-three'>
    <td>Butthead 3</td>
    <td>Down the street</td>
  </tr>
  <tr class='fugitive-four'>
    <td>Travis' Cousin 4</td>
    <td>Right behind you</td>
  </tr>
  <tr class='fugitive-five'>
    <td>Person 5</td>
    <td>Inside the house</td>
  </tr>
  <tr class='fugitive-six'>
    <td>Jordan</td>
    <td>Arvada</td>
  </tr>
  <tr class='fugitive-seven'>
    <td>Person 7</td>
    <td>Under the bed</td>
  </tr>
  <tr class='fugitive-eight'>
    <td>Arsonist 8</td>
    <td>China</td>
  </tr>
  <tr class='fugitive-nine'>
    <td>Generic Individual 9</td>
    <td>Generic place</td>
  </tr>
  <tr class='fugitive-ten'>
    <td>Number 10</td>
    <td>Numeric Location</td>
  </tr>
</table></br>
