<section class='state-1'>
  <%= select_tag :state, options_for_select(us_states), class: 'state', id: 'state1' %>
</section>
<section class='state-2'>
  <%= select_tag :state, options_for_select(us_states), class: 'state', id: 'state2' %>
</section>
<!-- Compare button will need a listener to display both stat windows for each state -->
<section>
  <button type="button" class="btn btn-outline-primary" id="compare-button">Compare</button>
</section>
<!-- Tables should be empty until we click compare to display them, need to learned AJAX -->

<table class='table table-striped table-dark state-1-table'>
<h2 class="text-center p-2"><strong>Stats</strong></h2>
  <thead>
    <tr class='state-headers'>
      <th scope="col-3">Crime</th>
      <th scope="col-3">Total Occurrence</th>
      <th scope="col-3">Percent Against State's Total Crimes</th>
      <th scope="col-3">Percent Against National Occurrence</th>
    </tr>
  </thead>

  <tbody>
    <tr class="aggravated-assault">
      <th scope="row">Aggravated Assault</th>
      <td>500</td>
      <td>1%</td>
      <td>10%</td>
    </tr>
    <tr class="homicide">
      <th scope="row">Homicide</th>
      <td>5000</td>
      <td>5%</td>
      <td>50%</td>
    </tr>
    <tr class="rape">
      <th scope="row">Rape</th>
      <td>85</td>
      <td>0.1%</td>
      <td>1%</td>
    </tr>
    <tr class="property-crime">
      <th scope="row">Property Crime</th>
      <td>450</td>
      <td>0.5%</td>
      <td>5%</td>
    </tr>
    <tr class="arson">
      <th scope="row">Arson</th>
      <td>330</td>
      <td>0.4%</td>
      <td>4%</td>
    </tr>
  </tbody>
</table>

<table class='table table-striped table-dark state-2-table'>
<h2 class="text-center p-2"><strong>Stats</strong></h2>
  <thead>
    <tr class='state-headers'>
      <th scope="col-3">Crime</th>
      <th scope="col-3">Total Occurrence</th>
      <th scope="col-3">Percent Against State's Total Crimes</th>
      <th scope="col-3">Percent Against National Occurrence</th>
    </tr>
  </thead>

  <tbody>
    <tr class="aggravated-assault">
      <th scope="row">Aggravated Assault</th>
      <td>500</td>
      <td>1%</td>
      <td>10%</td>
    </tr>
    <tr class="homicide">
      <th scope="row">Homicide</th>
      <td>5000</td>
      <td>5%</td>
      <td>50%</td>
    </tr>
    <tr class="rape">
      <th scope="row">Rape</th>
      <td>85</td>
      <td>0.1%</td>
      <td>1%</td>
    </tr>
    <tr class="property-crime">
      <th scope="row">Property Crime</th>
      <td>450</td>
      <td>0.5%</td>
      <td>5%</td>
    </tr>
    <tr class="arson">
      <th scope="row">Arson</th>
      <td>330</td>
      <td>0.4%</td>
      <td>4%</td>
    </tr>
  </tbody>
</table>
